body{
    font-size: 20px;
   width: 1060px;
    margin: 50px auto;
    background-color: white;
}
.w50{
    width: 48%;
    float: left;
    margin: 1%;
}
.clear{
    clear: both;
}
#errors{
    color: white;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
form, .formData{
    width: 480px;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin: 50px auto;
    color: white;
background-color: black;
    border-radius: 20px;
}
label{
    width: 170px;
    display: inline-block;
    font-size: 18px;
    color: white;
}
input:not([type="radio"]), select{
    font-size: 16px;
    font-family: 'Kalam', cursive;
    padding: 5px 10px;
}
input:not([type="radio"]){
    width: 170px;
    height: 30px;
    margin-bottom: 10px;
}
select{
    width: 190px;
    margin-top: 1px;
    margin-bottom: 10px;
}
input[type="submit"]{
    width: 100%;
    font-size: 22px;
    background-color: rgb(99, 131, 99);
    color: white;
    font-family: 'Kalam', cursive;
    border: 0px;
    padding: 10px;
    height: 50px;
    box-shadow: 4px 4px 0px #856a81;
    border-radius: 8px;
}
input[type="submit"]:active{
    box-shadow: -4px -4px 0px #8c087a;
}

.top_menu{
    background-color: #8c087a;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    color: white;
    border-radius: 20px;
}

.top_menu ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.top_menu ul li{
    display: inline-block;
    width: 130px;
}

.top_menu ul li:hover{
    background-color: #0781b2;
}
.top_menu ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}
h1 , h2{
    text-align: center;
}
table{
    width: 50%;
    border-collapse: collapse;
    border: 2px solid white;

}
th, td{
    min-width: 80px;
    font-size: small;
    border: 2px solid white;
    padding: 2px ;
}
table.receipt{
    text-align: right;
}