<nav class="top_menu">
    <ul>
      <li>
        <a href="/">Order Form</a>
      </li>
      <li>
        <a href="/allorders">All Orders</a>
      </li>
      <li>
        <a href="/author">Author</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>