<%- include('layouts/header'); -%>
<body>
   
    <section>
       <table>
           <thead>
               <tr>
                    <th>Name</th>
                    <th>phonenumber</th>
                    <th>Province</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Notebook</th>
                    <th>Pencil</th>
                    <th>Sharpner</th>
                    <th>Tax</th>
                    <th>Subtotal</th>
                    <th>Total</th>
                                 
                </tr>
           </thead>
           <tbody>
            
                <%
                    for(var order of orders){
                        %>
                            <tr>
                                <td><%= order.name %></td>
                                <td><%= order.phonenumber %></td>
                                <td><%= order.province %></td> 
                                <td><%= order.address %></td>
                                <td><%= order.city %></td>
                                <td><%= order.notebook %></td>
                                <td><%= order.pencil %></td>
                                <td>$<%= order.sharpner %></td>
                                <td>$<%= order.tax.toFixed(2) %></td>
                                <td>$<%= order.subTotal.toFixed(2) %></td>
                                <td>$<%= order.total.toFixed(2) %></td>
                                

                           </tr>
                        <%
                    }
                %>
           </tbody>
       </table>
    </section>
</body>
<%- include('layouts/footer'); -%>








