<!-- Name : Savita  -->

<%- include('layouts/header'); -%>


  <body> <%- include('layouts/nav'); -%>
     <h2>Shop online with us anytime anywhere!</h2>
    <form name="myform" method="Post" onsubmit="return formSubmit();" action="">
      <label>Customer Name</label>
      <input id="flname" placeholder="Customer Name" type="text" name="flname"><br />
      <label>Customer E-mail</label>
      <input id="email" placeholder="Customer email" type="text" name="email"><br />
      <label>Address</label>
      <input id="address" placeholder="Address" type="text" name="address"><br />
      <label>City</label>
      <input id="city" placeholder="City" type="text" name="city"><br />
      <label>Province</label>
      <select name="province" id="province">
        <option value="">----- Select -----</option>
        <option value="Alberta">Alberta</option>
        <option value="British Columbia">British Columbia</option>
        <option value="Manitoba">Manitoba</option>
        <option value="New Brunswick">New Brunswick</option>
        <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
        <option value="Northwest Territories">Northwest Territories</option>
        <option value="Nova Scotia">Nova Scotia</option>
        <option value="Nunavut">Nunavut</option>
        <option value="Ontario">Ontario</option>
        <option value="Prince Edward Island">Prince Edward Island</option>
        <option value="Quebec">Quebec</option>
        <option value="Saskatchewan">Saskatchewan</option>
        <option value="Yukon">Yukon</option>
      </select><br />
      <label>Phone Number</label>
      <input id="phonenumber" placeholder="XXX-XXX-XXXX" type="text" name="phonenumber" maxlength="16"
        onkeypress='return formatPhoneNumber(this,event)' onkeyup="return numberValidation(event)"><br />

      <h3>Add products to your cart</h3>

      <label>notebook ($0.80)</label>
      <input id="notebookqty" placeholder="" type="text" name="notebookqty"><br />
      <label>pencil($1.50)</label>
      <input id="pencilqty" placeholder="" type="text" name="pencilqty"><br />
      <label>sharpner($5.00)</label>
      <input id="sharpnerqty" placeholder="" type="text" name="sharpnerqty"><br />

      <br /><br />

      <input type="submit" value="Checkout">
      <span id="errors"></span>
    </form>

    <div id="formData" class="formData">

      <% if(typeof(errors) !='undefined' ){ for(var error of errors){ %>
        <p class="errors">
          <%= error.msg%>
        </p>
        <% } } if(typeof(total) !='undefined' ){ %>
          <h3>Thank you for your shopping with us!</h3>
          <p>Your Receipt:</p>
          <table>
            <tr>
              <th>Name</th>
              <td>
                <%= name %>
              </td>
            </tr>
            
            <tr>
              <th>Address</th>
              <td>
                <%= address %>
              </td>
            </tr>
            <tr>
              <th>City</th>
              <td>
                <%= city %>
              </td>
            </tr>
            <tr>
              <th>Province</th>
              <td>
                <%= province %>
              </td>
            </tr>
            <tr>
              <th>Phone Number</th>
              <td>
                <%= phonenumber %>
              </td>
            </tr>
          </table>
          <table class="receipt">
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Total Item</th>
            </tr>
            <tr>
              <td>Notebook</td>
              <td>
                <%= notebook %>
              </td>
              <td>$<%= notebookprice %>
              </td>
              <td>$<%= notebooktotal %>
              </td>
            </tr>
            <tr>
              <td>Pencil</td>
              <td>
                <%= pencil %>
              </td>
              <td>$<%= pencilprice %>
              </td>
              <td>$<%= penciltotal %>
              </td>
            </tr>
            <tr>
              <td>Sharpner</td>
              <td>
                <%= sharpner%>
              </td>
              <td>$<%= sharpnerprice %>
              </td>
              <td>$<%= sharpnertotal %>
              </td>
            </tr>
            <tr>
              <th colspan="3">subTotal</th>
              <th>$<%= subTotal %>
              </th>
            </tr>
            <tr>
              <td><b>Total Tax</b></td>
              <td colspan="2">@13.0%</td>
              <td>$<%= tax %>
              </td>
            </tr>
            <tr>
              <th colspan="3">Sales Total</th>
              <td>$<%= total %>
              </td>
            </tr>
          </table>
          <% } %>
    </div>
  </body>

  </html>